<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="BuildService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <applicationSettings>
    <BuildService.Properties.Settings>
      <setting name="ServerGUID" serializeAs="String">
        <value>f6c15cb5-3dde-4629-8804-53bd3041ddc7</value>
      </setting>
      <setting name="ServerName" serializeAs="String">
        <value>CasinoTV Build Machine</value>
      </setting>
      <setting name="ServerPort" serializeAs="String">
        <value>5120</value>
      </setting>
      <setting name="BuildsPath" serializeAs="String">
        <value>D:\Builds</value>
      </setting>
      <setting name="NetworkBuildsPath" serializeAs="String">
        <value>\\25.166.167.212\Builds</value>
      </setting>
      <setting name="CompileFolder" serializeAs="String">
        <value>C:\Compile</value>
      </setting>
      <setting name="SourceUser" serializeAs="String">
        <value>casinotv-secondary</value>
      </setting>
      <setting name="SourcePassword" serializeAs="String">
        <value>pd12345678</value>
      </setting>
      <setting name="BaseVersion" serializeAs="String">
        <value>0.0.9</value>
      </setting>
      <setting name="GitPath" serializeAs="String">
        <value>C:\Program Files (x86)\Git\bin\git.exe</value>
      </setting>
      <setting name="DevEnvPath" serializeAs="String">
        <value>C:\Program Files (x86)\Microsoft Visual Studio 12.0\Common7\IDE\devenv.exe</value>
      </setting>
      <setting name="DeployRepoUser" serializeAs="String">
        <value>casinotv-secondary</value>
      </setting>
      <setting name="DeployRepoPassword" serializeAs="String">
        <value>pd12345678</value>
      </setting>
      <setting name="DeployFolder" serializeAs="String">
        <value>C:\Deploy</value>
      </setting>
      <setting name="DeployServerUrl" serializeAs="String">
        <value>http://25.166.167.212:5120/BuildService</value>
      </setting>
      <setting name="DBScriptsFolder" serializeAs="String">
        <value>C:\Compile\DB_Scripts\Deploy</value>
      </setting>
      <setting name="TestBaseSysCred" serializeAs="String">
        <value>sys/123123@casino_test as sysdba</value>
      </setting>
      <setting name="TestBaseCasinoCred" serializeAs="String">
        <value>test_user/123@casino_test</value>
      </setting>
      <setting name="DeployRepURL" serializeAs="String">
        <value>https://github.com/CasinoTV-KG/casinotvservice_deploy</value>
      </setting>
      <setting name="SqlPlusPath" serializeAs="String">
        <value>C:\app\root\product\11.2.0\client_1\sqlplus.exe</value>
      </setting>
      <setting name="LatestBuildFolder" serializeAs="String">
        <value>C:\LatestBuild</value>
      </setting>
      <setting name="ConnectionString" serializeAs="String">
        <value>Data Source=casino_test; User Id=casinotv; Password=123;</value>
      </setting>
      <setting name="BaseServiceUrl" serializeAs="String">
        <value>http://service.casinotv/CasinoTVPortalService/</value>
      </setting>
      <setting name="DeployServerDeployFolder" serializeAs="String">
        <value>C:\Deploy</value>
      </setting>
      <setting name="DeployServerApplicationFolder" serializeAs="String">
        <value>C:\www</value>
      </setting>
      <setting name="SourceURL" serializeAs="String">
        <value>https://25.166.167.212:4443/svn/CasinoTV-KG/</value>
      </setting>
      <setting name="SvnPath" serializeAs="String">
        <value> C:\Program Files\TortoiseSVN\bin\svn.exe</value>
      </setting>
      <setting name="AntPath" serializeAs="String">
        <value>c:\distr\apache-ant-1.9.4\bin\ant.bat</value>
      </setting>
      <setting name="MacServerURL" serializeAs="String">
        <value>192.168.181.128</value>
      </setting>
      <setting name="MacServerUser" serializeAs="String">
        <value>admin</value>
      </setting>
      <setting name="MacServerPassword" serializeAs="String">
        <value>123</value>
      </setting>
      <setting name="PlinkPath" serializeAs="String">
        <value>c:\distr\putty\plink.exe</value>
      </setting>
      <setting name="PscpPath" serializeAs="String">
        <value>c:\distr\putty\pscp.exe</value>
      </setting>
      <setting name="MacServerWorkingDir" serializeAs="String">
        <value>/Users/admin/Desktop/svn/</value>
      </setting>
      <setting name="MacServerPort" serializeAs="String">
        <value>22</value>
      </setting>
      <setting name="InnoSetupPath" serializeAs="String">
        <value>C:\Program Files (x86)\Inno Setup 5\ISCC.exe</value>
      </setting>
      <setting name="BaseFileServiceUrl" serializeAs="String">
        <value>http://service.casinotv/CasinoTVPortalService/</value>
      </setting>
      <setting name="BaseContentSiteUrl" serializeAs="String">
        <value>http://service.casinotv/CasinoTVPortalService/</value>
      </setting>
      <setting name="ArchiverPath" serializeAs="String">
        <value>C:\Program Files\7-Zip\7z.exe</value>
      </setting>
    </BuildService.Properties.Settings>
  </applicationSettings>
  <!--  <system.diagnostics>
    <trace autoflush="true" />
    <sources>
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true">
        <listeners>
          <add name="sdt"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData= "c:\Diag\SdrConfigExample.e2e" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>-->
</configuration>