<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="casino_tv.database" type="DBCommons.Configuration.DatabaseSection, DBCommons"/>
  </configSections>  
  <appSettings>
    <add key="serviceBaseUrl" value="http://service.casinotv/"/>
    <add key="fileServiceBaseUrl" value="http://service.casinotv/"/>
    <add key="contentSiteUrl" value="http://static.casinotv/"/>
  </appSettings>
  <connectionStrings>
    <add name="casino_tv" connectionString="Data Source=casino_test; User Id=casinotv; Password=123;"/>
  </connectionStrings>
  <casino_tv.database>
    <connection connectionStringName="casino_tv"/>
  </casino_tv.database>  
  <system.webServer>
     <modules>
      <add name="ModRewrite" type="WebCommons.Modules.PortalRewriteModule"/>
    </modules>
  </system.webServer>  
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
</configuration>
