<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="casino_tv.database" type="DBCommons.Configuration.DatabaseSection, DBCommons" />
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate"/>
  </configSections>
  <appSettings>
    <add key="serviceBaseUrl" value="http://service.casinotv/"/>
    <add key="fileServiceBaseUrl" value="http://service.casinotv/"/>
    <add key="contentSiteUrl" value="http://static.casinotv/"/>
    <add key="supportEmail" value="support@25.166.167.212"/>
    <add key="noReplyEmail" value="noreply@25.166.167.212"/>
    <add key="smtpHost" value="25.166.167.212"/>
    <add key="smtpUser" value="noreply@25.166.167.212"/>
    <add key="smtpPassword" value="123456"/>
  </appSettings>
  <connectionStrings>
    <add name="casino_tv" connectionString="Data Source=casino_test; User Id=casinotv; Password=123;" />
  </connectionStrings>
  <casino_tv.database>
    <connection connectionStringName="casino_tv" />
  </casino_tv.database>
  <hibernate-configuration>
    <session-factory xmlns="urn:nhibernate-configuration-2.2">
      <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
      <property name="connection.driver_class">NHibernate.Driver.OracleDataClientDriver</property>
      <property name="dialect">NHibernate.Dialect.Oracle10gDialect</property>
      <property name="connection.connection_string_name">casino_tv</property>
      <property name="adonet.batch_size">100</property>
      <property name="cache.use_second_level_cache">false</property>
      <mapping assembly="Model" />
    </session-factory>
  </hibernate-configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="Oracle.DataAccess, Version=4.112.3.0, Culture=neutral, PublicKeyToken=89B483F429C47342"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" maxRequestLength="2000000"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="" maxReceivedMessageSize="2000000" maxBufferSize="2000000" maxBufferPoolSize="2000000"/>
      </webHttpBinding>
    </bindings>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
    <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint name="" helpEnabled="true"  contentTypeMapper="ServiceCommons.Helpers.JsonContentTypeMapper, ServiceCommons" defaultOutgoingResponseFormat="Json"  maxReceivedMessageSize="2147483647"  maxBufferSize="2147483647"  maxBufferPoolSize="4194304"/>
      </webHttpEndpoint>
    </standardEndpoints>
  </system.serviceModel>
</configuration>