<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CasinoTvGames.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Chips" type="CasinoTvGames.Classes.ChipsConfigurationSection, WingaGames" requirePermission="false" />
      <section name="CasinoTvAPI" type="CasinoAPI.CasinoTvAPI.CasinoTvConfiguration, CasinoAPI" requirePermission="false" />
      <section name="WingaAPI" type="CasinoAPI.WingaAPI.WingaAPIConfiguration, CasinoAPI" requirePermission="false" />
      <section name="WirexAPI" type="CasinoAPI.WirexAPI.WirexAPIConfiguration, CasinoAPI" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CasinoTvGames.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <CasinoTvGames.Properties.Settings>
      <setting name="Profile" serializeAs="String">
        <value>Wirex</value>
      </setting>
      <setting name="DefaultLocale" serializeAs="String">
        <value>en-US</value>
      </setting>
      <setting name="RTMPBufferTimeInMilliseconds" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="RTMPConnectionTimeoutInMilliseconds" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="AutoLoginEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsFullScreen" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ServiceId" serializeAs="String">
        <value>1</value>
      </setting>
    </CasinoTvGames.Properties.Settings>
    <Chips>
      <Chip Id="LightBlue" Amount="0.1" Color="LightBlue" />
      <Chip Id="Grey" Amount="1" Color="Grey" />
      <Chip Id="Red" Amount="5" Color="Red" IsDefault="true" />
      <Chip Id="Blue" Amount="10" Color="Blue" />
      <Chip Id="Green" Amount="25" Color="Green" />
      <Chip Id="Orange" Amount="50" Color="Orange" />
    </Chips>
    <CasinoTvAPI Url="http://localhost/CasinoTVGateway/games/execute" ClientId="545893577" Key="8b63479fd3c9a9ea0717251a3e8531b8"/>
    <WirexAPI LoginUrl="https://www.casinotv.com/user/loginCommon.jss" RegistrationUrl="https://www.casinotv.com/user/userServiceJSON.jss" PaymentsUrl="https://payments.casinotv.com" GameUrl="http://livecasino.grindergm.com" TablesUrl="http://storage.casinotv.com/~net-deploy/data/WirexTables.xml" BusinessOperatorId="131218"/>
    <WingaAPI Url="http://wingatv-api.buongiorno.com/casino-api/dispatcher" ClientId="68976" Key="P3lac3Th4BetZf"/>
    <!--<WingaAPI Url="http://dev.gambling.winga.es:8080/bg-casino-api/dispatcher" ClientId="41223" Key="nonVincoMai" DefaultServiceId="102"/>-->
  </applicationSettings>
  <userSettings>
    <CasinoTvGames.Properties.Settings>
      <setting name="WindowState" serializeAs="String">
        <value>Maximized</value>
      </setting>
      <setting name="VideoOnSeparateScreen" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BetTableLayout" serializeAs="String">
        <value>Split</value>
      </setting>
      <setting name="HideCursorOnBetPanelFullScreen" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="HideDollyOnBetPanel" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="HasConsole" serializeAs="String">
        <value>True</value>
      </setting>
    </CasinoTvGames.Properties.Settings>
  </userSettings>
</configuration>