<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="serviceBaseUrl" value="http://service.casinotv/"/>
    <add key="fileServiceBaseUrl" value="http://service.casinotv/"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <modules>
      <add name="ModRewrite" type="WebCommons.Modules.TemplateRewriteModule"/>
    </modules>
  </system.webServer>
</configuration>
