<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="casino_tv.database" type="DBCommons.Configuration.DatabaseSection, DBCommons" />
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate"/>
  </configSections>
  <appSettings>
    <add key="AWSProfileName" value="dynamodb"/>
    <add key="AWSProfilesLocation" value="C:\AwsCredentials"/>
  </appSettings>
  <system.webServer>
    <modules>
      <add name="WCFinASPSucksThatsWhyWeNeedThisFixModule" type="ServiceCommons.Classes.Helpers.WCFinASPSucksThatsWhyWeNeedThisFixModule, ServiceCommons"/>
    </modules>
  </system.webServer>
  <connectionStrings>
    <add name="casino_tv" connectionString="Data Source=casino_test; User Id=casinotv; Password=123;" />
  </connectionStrings>
  <casino_tv.database>
    <connection connectionStringName="casino_tv" />
  </casino_tv.database>
  <hibernate-configuration>
    <session-factory xmlns="urn:nhibernate-configuration-2.2">
      <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
      <property name="connection.driver_class">NHibernate.Driver.OracleDataClientDriver</property>
      <property name="dialect">NHibernate.Dialect.Oracle10gDialect</property>
      <property name="connection.connection_string_name">casino_tv</property>
      <property name="adonet.batch_size">100</property>
      <property name="cache.use_second_level_cache">false</property>
      <mapping assembly="Model" />
    </session-factory>
  </hibernate-configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="Oracle.DataAccess, Version=4.112.3.0, Culture=neutral, PublicKeyToken=89B483F429C47342"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <sessionState timeout="20" mode="Custom" customProvider="DynamoDBSessionStoreProvider">
      <providers>
        <add name="DynamoDBSessionStoreProvider" type="Amazon.SessionProvider.DynamoDBSessionStateStore" Region="us-west-2" Application ="CasinoTVPortal"/>
      </providers>
    </sessionState>
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
    <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint name="" helpEnabled="true" automaticFormatSelectionEnabled="true" defaultOutgoingResponseFormat="Json"/>
      </webHttpEndpoint>
    </standardEndpoints>
  </system.serviceModel>
</configuration>